<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% block before_head %}{% endblock %}
        <meta charset="utf-8">
        <meta name="author" content="{{meta.author}}">
        <meta name="description" content="{{meta.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" href="resources/images/favicon.png" />
        <title>{% block title %}{{page_title}}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Welcome on jwndlng.github.io!</h1>
        <p>You will find a personal reference page for security topics!</p>
        {% endblock %}
    </body>
</html>