{%- extends "base.j2" -%}

{%- block title -%}{{title}}{%- endblock -%}

{%- block head -%}
{%- endblock -%}

{%- block body -%}

{%- block header -%}
{{print_navigation}}
{% endblock %}


{%- block content -%}
<h1>{{title}}</h1>
{# print_content #}
{%- endblock -%}

{%- block footer -%}
{# print_footer #}
{%- endblock -%}

{%- endblock -%}