<nav id="main-navigation"><ul>
        {%- for node in nodes: -%}
            {%- if node.is_active -%}
            <li><span>{{node.name}}</span></li>
            {%- else -%}
            <li><a href="{{node.href}}">{{node.name}}</a></li>
            {%- endif -%}
        {%- endfor -%}
</ul></nav>