<div id="{{name}}Navigation" class="navbar-start">
{%- for node in nodes: -%}
    {%- if node.is_active -%}
    <div class="navbar-item is-active">{{node.name}}</div>
    {%- else -%}
    <a class="navbar-item" href="{{node.href}}">{{node.name}}</a>
    {%- endif -%}
{%- endfor -%}
</div>