{% for data in content: %}
<div class="entry box">
    {% if data.title %}
    <h3>{{data.title}}</h3>
    {% endif %}
    {% if data.meta.date %}
    <span class="date">{{data.meta.date}}</span>
    {% endif %}
    {% if data.meta.category %}
    Category: {{data.meta.category}}
    {% endif %}
    <div class="preview">
    {{data.content}}
    </div>
    {% if data.meta.tags %}
    <div class="tags mt-4">
        {% for tag in data.meta.tags %}
        <span class="tag is-rounded is-dark">{{tag}}</span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}